img {
    max-width: 100%;
    width: 100%
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer
}

p {
    margin: 0
}

button {
    all: unset
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 100px
}

*,*:before,*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 15px;
    vertical-align: baseline;
    scroll-behavior: smooth
}

body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-size: inherit;
    vertical-align: inherit;
    line-height: 1.9;
    font-weight: 400;
    height: 100%
}

.navbar__li {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem
}

.navbar__li--hover:hover {
    color: #EC586C;
    font-weight: 400
}

.navbar__icon {
    color: #fff;
    padding-right: 1.3rem;
    cursor: pointer
}

.navbar__icon--hover:hover {
    color: #C77FFF
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1199px) {
    .navbar__icon {
        padding-top:1rem
    }
}

.live__button {
    color: #fff;
    background: #ff0808;
    border: 1px solid #ff0808;
    font-size: 1.7rem;
    border-radius: 5px;
    margin-top: 1.3rem
}

.live__button .live__btn {
    padding-left: 1rem;
    padding-right: 1rem
}

.live__button .live__btn:hover {
    color: #29274C
}

.navbar {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

.navbar .navbar__container {
    padding: 1rem;
    background: #29274C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.navbar .navbar__container .navbar__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.navbar .navbar__container .navbar__right {
    margin-left: 22rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1199px) {
    .navbar .navbar__container {
        padding:1rem;
        background: #29274C;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .navbar .navbar__container .navbar__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -ms-grid;
        display: grid;
    }

    .navbar .navbar__container .navbar__right {
        margin-left: -3rem;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }

    .navbar .navbar__container .navbar__singer {
        font-size: 1.7rem
    }
}

@media all and (min-width: 1200px) and (max-width: 1526px) {
    .navbar .navbar__container {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.navbar__left>* {
    margin-left: 1.3rem;
    margin-right: 1.3rem
}

.navbar__singer {
    color: #fff;
    font-size: 2.7rem;
    font-weight: 400
}

.navbar__singer .navbar__span {
    color: #C77FFF
}

.feature__fixedRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    margin-top: -45%;
    margin-left: 73%;
    color: #C77FFF
}

.feature__fixedRight .feature__p {
    font-size: 1.2rem;
    color: #fff
}

.feature__fixedRight .feature__h2 {
    font-weight: 900;
    font-size: 3rem
}

@media all and (max-width: 1075px) {
    .feature__fixedRight .feature__h2 {
        font-size:2rem
    }
}

.feature__fixedRight .feature__h4 {
    font-size: 1.1rem;
    color: #999;
    font-weight: 900
}

@media all and (max-width: 728px) {
    .feature__fixedRight {
        margin-left:65%
    }
}

@media all and (max-width: 560px) {
    .feature__fixedRight {
        margin-left:70%
    }

    .feature__fixedRight .feature__p {
        font-size: 0.5rem
    }

    .feature__fixedRight .feature__h2 {
        font-size: 1rem
    }

    .feature__fixedRight .feature__h4 {
        font-size: 0.4rem
    }
}

.about__container {
    padding-left: 1.5rem;
    padding-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.about__container .about__left {
    width: 635px
}

.about__container .about__left .about__img {
    border-radius: 100%;
    width: 300px;
    height: 300px
}

.about__container .about__right {
    width: 665px;
    margin-top: 7rem
}

.about__statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem
}

.about {
    margin-top: -1rem;
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    background: #29274C
}

.about__p {
    color: #A49DB3
}

.about__quote {
    padding-top: 1.2rem;
    font-size: 1.5rem;
    color: #A49DB3;
    font-weight: 400
}

.about__p1 {
    color: #C77FFF;
    font-size: 1.7rem;
    font-weight: 900
}

.about__h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #C77FFF;
    font-weight: 900
}

.about__p2 {
    font-size: 1.2rem
}

.about__button {
    width: 25%;
    background-color: #C77FFF;
    border: 2px solid #C77FFF;
    font-size: 1.7rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 35px
}

.about__button--hover:hover {
    background-color: #EC586C
}

.about__button .about__btn {
    padding-left: 1.3rem
}

@media (max-width: 768px) {
    .about__button {
        width:15%;
        font-size: 0.7rem;
        border-width: 1px;
        border-radius: 10px
    }

    .about__button .about__btn {
        padding-left: 0.3rem
    }
}

.events__container,.events {
    background: #29274C;
    padding-top: 3.5rem
}

.events__h1 {
    text-align: center;
    padding-left: 2rem;
    color: #C77FFF;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.3rem
}

.events__container {
    padding-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.events__container .events__dv {
    width: 450px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem
}

.events__container .events__dv .events__ticket {
    height: 80px;
    margin-top: -0.5rem;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #C77FFF
}

.events__date,.events__detail {
    text-align: center;
    width: 30%;
    background-color: rgba(0,0,0,0.09);
    padding-top: 20px;
    padding-bottom: 13px
}

.events__h3,.events__h4 {
    color: #231047;
    font-weight: 900;
    font-size: 2.2rem;
    margin-bottom: 0px;
    line-height: 0.9
}

.events__h4 {
    font-weight: 900;
    font-size: 1.5rem
}

.events__p {
    margin-bottom: 0px;
    font-weight: 500
}

.events__detail {
    width: 50%;
    padding-left: 0.5rem;
    background-color: #C77FFF
}

.events__btn {
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 0.2rem;
    background-color: #231047;
    font-size: 1.1rem;
    padding: 0.2rem 1rem 1.5rem 1rem;
    border-radius: 12px;
    font-weight: 500;
    color: #C77FFF
}

.events__btn:hover {
    background: #EC586C;
    color: #fff
}

.events__image {
    height: 960px
}

@media all and (max-width: 917px) {
    .events__image {
        height:auto
    }
}

.live {
    background-image: url("../.././img/events/livebg.jpg");
    padding-left: 1.3rem;
    height: 656px;
    padding-bottom: 90px;
    padding-top: 105px
}

.live .live__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

[data-overlay] {
    position: relative;
    background-size: cover;
    background-position: center center
}

.live__outerPlay {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px dashed #ff0808
}

.live__outerPlay .live__play {
    width: 100px;
    height: 100px;
    background-color: #ff0808;
    border-radius: 50%;
    margin-left: 0.9rem;
    margin-top: 0.8rem
}

.live__outerPlay .live__play .live__icon {
    margin-left: 2.5rem;
    margin-top: 2.5rem
}

.live__h2 {
    color: #fff;
    font-weight: 900;
    padding-top: 2.5rem
}

.live__h1 {
    color: #ff0808;
    letter-spacing: 0.1rem;
    font-weight: 900
}

.live__p {
    line-height: 1.5;
    color: #fff
}

.live__span {
    padding-left: 8rem
}

.live__button {
    color: #fff;
    background: #ff0808;
    border: 1px solid #ff0808;
    font-size: 1.7rem;
    border-radius: 5px;
    margin-top: 1.3rem
}

.live__button .live__btn {
    padding-left: 1rem;
    padding-right: 1rem
}

.live__button .live__btn:hover {
    color: #29274C
}

.clientSays {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url("../.././img/events/clientbg.jpg");
    padding-left: 1.3rem;
    height: 500px;
    padding-bottom: 90px;
    padding-top: 10px
}

.clientSays .clientSays__img {
    border-radius: 50%;
    width: 60px;
    height: 60px
}

.clientSays .clientSays__h2 {
    padding-top: 1rem
}

.team {
    background: #29274C;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem
}

.team__h1 {
    color: #1E0E3C;
    padding-top: 5rem;
    color: #FF0808
}

.team__dv {
    padding-top: 1rem;
    padding-left: 1rem;
    width: 250px;
    height: 100%
}

.team__dv .team__h2 {
    color: #FF0808
}

.team__dv .team__p {
    color: #fff
}

.team__img {
    width: 250px;
    height: 250px
}

.team__algn {
    text-align: center
}

.team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

iframe {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    width: 50%
}

.album {
    background: #29274C;
    padding-top: 3rem;
    padding-bottom: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}
.album {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .song {
    width: 200px;
    text-align: center;
  }
  
  .song img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .song h3 {
    margin-top: 10px;
    font-size: 16px;
  }

.album .album__h1 {
    color: #FF0808
}

.gallery {
    background: #29274C;
    padding-bottom: 5rem
}

.gallery .gallery__h1 {
    text-align: center;
    color: #FF102D
}

.gallery .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.gallery .gallery__container .gallery__img {
    width: 300px;
    margin-left: 1rem;
    margin-top: 1rem;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out
}

.gallery .gallery__img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

.contact {
    padding-top: 4rem;
    padding-bottom: 5.5rem;
    background: #29274C
}

.contact__heading {
    padding-top: 2rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.fa-microphone {
    padding-left: 7rem
}

.contact__h1 {
    text-align: center
}

.contact__h3 {
    color: #fff;
    padding-left: 5rem
}

.contact__h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-left: 2rem
}

.contact__h1,.contact__h2 {
    color: #e3142d;
    letter-spacing: 0.2rem;
    font-weight: 400
}

.form {
    margin: 0 auto;
    padding-top: 2rem;
    width: 50%
}

.form__group {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.form__p {
    color: #fff;
    font-size: 1.3rem
}

.form__label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    text-transform: uppercase
}

.form__input,textarea {
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    font-size: 1.2rem;
    width: 100%;
    height: 40px
}

.footer {
    background-image: url("../.././img/events/livebg.jpg");
    padding-left: 1.3rem;
    height: 400px;
    padding-bottom: 90px;
    padding-top: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

[data-overlay] {
    position: relative;
    background-size: cover;
    background-position: center center
}

.footer__h1 {
    color: #E3142D;
    font-weight: 900
}

.footer__p {
    color: #A49DB3;
    font-size: 2.5rem
}

.footer__input {
    max-width: 595px
}

.footer__btn {
    margin-left: 9rem
}

.footer__entermail {
    background: #2C1950;
    border: 2px solid;
    border-radius: 50px;
    color: #E3142D;
    height: 58px;
    font-size: 2.3rem
}

.live__button {
    color: #fff;
    background: #ff0808;
    border: 1px solid #ff0808;
    font-size: 1.7rem;
    border-radius: 5px;
    margin-top: 1.3rem
}

.live__button .live__btn {
    padding-left: 1rem;
    padding-right: 1rem
}

.live__button .live__btn:hover {
    color: #29274C
}

/*# sourceMappingURL=style.min.css.map */
